{% if site.stackoverflow_user_name %}
<section>
  <h1>Stack Overflow</h1><br/>
  <a href="http://stackoverflow.com/users/{{site.stackoverflow_user_id}}/{{site.stackoverflow_user_name}}"><img src="http://stackoverflow.com/users/flair/{{site.stackoverflow_user_id}}.png" width="300" height="70" alt="{{ site.stackoverflow_user_name }} profile at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="{{ site.stackoverflow_user_name }}'s profile at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
</section>
{% endif %}
