<!-- To be used instead of Disqus comments @source/_layouts/post.html, if needed in the future

    <section>
        <h1>Comments</h1>
        <div id="disqus_thread" aria-live="polite">
        <script>
            var idcomments_acct = '6ae754b24b968eebf3fdf43305ba27c6';
            var idcomments_post_id;
            var idcomments_post_url;
        </script>
        <span id="IDCommentsPostTitle" style="display:none"></span>
            </div>
        <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
    </section>


-->
